<div class="col-md-12 text-center">
<h1 class="radiobase-title">KOOP Radio</h1><input ng-model="searchText" value="search">
</div>
<div>
  &nbsp;
</div>
<!-- <div class="media">
  <a class="media-left media-middle" href="#">
    <img data-src="..." alt="...">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Stronger Than Dirt</h4>
  </div>
</div> -->
<div class="row">
	<div class="col-sm-6 col-md-4"
	<div ng-repeat="show in shows | filter:searchText">
		
			<div class="thumbnail">
          <br/>
			    <img class="thumb-image" src={{show.programInformation.programThumbnail}} alt="Radio Show's logo">
			    <div class="caption">
			      <h4 class='thumbnail-show-title'>{{show.programInformation.programName}}</h4>
			      <p class="about">{{show.programInformation.about}}</p>
			      <p><a href="/radiostations/koop/shows/{{convertUrl(show.programInformation.programName)}}" class="btn btn-primary" role="button">Playlists</a>
			      	<a href="#" class="btn btn-primary" role="button">Random Playlist</a></p>
			    </div>
			</div>
		</div>
	</div>
</div>



</div>




<!-- 
<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <img src="../../assets/images/stronger.jpg" height:150px width: 150px alt="KBOO radio station">
    <div class="caption">
      <h4>Stronger Than Dirt</h4>
      <p>High energy showcase for underground rock and roll from the mid 60's to present day. Stronger than Dirt includes garage, psyche, glam, punk, new wave, power pop, and other fun sounds. A great jumpstart for Saturday night.</p>
      <p><a href="#" class="btn btn-primary" role="button">Playlists</a>
      	<a href="#" class="btn btn-primary" role="button">Random Playlist</a></p>
    </div>
  </div>
</div> -->
