.video-box{
	border:solid;
	border:.5px;
	padding:.5px;
	margin:0px;
	border-bottom: solid
}
.youtube-title{
	text-align:right;
	margin-right:4em;
	margin-top:55px;
}
.boxy{
	height: 400px;
	width: 400px;
	float:right;
	border:solid;
	margin-right:4em;
}

.song-list{
	text-align:left;
}
.test{
	height:500px;
}

#boxy-content {
	margin-left:20%;
	display: block;
    align: center;
}

#sidebar-songs {
	position:fixed; top:0; left:0; width:20%; height:100%; background:white; overflow:auto; margin-top:55px;
	border-right:solid; text-align:left !important;
}