<div class="col-md-12 text-center">
	<h1 class="youtube-title">{{showTitle}} - {{date | date}}</h1>
</div>
<div>
  &nbsp;
</div>

<div id="sidebar-songs" class="btn-group-vertical" role="group">
	<div>
		<div ng-repeat="song in songs | filter:filterYoutube" >
		 <button ng-click="setYoutubeId(song.youtubeId)" type="button" class="btn btn-link">
		 	<div style="text-align:left">
			 	<span style="color:black">Title:</span> {{song.title}}<br>
			 	<span style="color:black"> Artist: </span> {{song.artist}} </button>
			 </div>
		</div>
	</div>
</div>
<div id="boxy-content" class="embed-responsive embed-responsive-16by9">
  		<iframe class="embed-responsive-item" ng-src="{{setUrl(youtubeId)}}"></iframe>
  		
</div>
